---
title: Home
layout: default
inhibit_title: true
---

#front-page
  #top-row
    .left-column
      %img#knob{:src=>"/images/knob.png"}
      #blurb 
        :markdown
          TorqueBox is a new kind of [Ruby](http://www.ruby-lang.org/en/) application platform that integrates popular 
          technologies such as [Ruby on Rails](http://rubyonrails.org/), while extending the footprint of Ruby 
          applications to include built-in support for services such as messaging,
          scheduling, and daemons.
      
          TorqueBox provides an all-in-one environment, built upon the latest, most 
          powerful [JBoss AS](http://www.jboss.org/jbossas) Java application server. Functionality such as clustering,
          load-balancing and high-availability is included right out-of-the-box. 
    .right-column
      #latest-release
        - announcement = site.posts.find{|e| e.layout=='release' && e.version == site.releases.first.version}
        .download
          %a#download-link{:href=>site.releases.first.urls.dist_zip} 
            Download #{site.releases.first.version}
          %table.details
            - if ( announcement )
              %tr.release_date
                %th
                  Release Date
                %td
                  #{announcement.date.strftime( '%d %B %Y' )}
            %tr.size
              %th
                Size
              %td
                ZIP archive, #{site.releases.first.dist_size}mb
            %tr.links
              %td{:colspan=>2}
                - if announcement
                  %a{:href=>announcement.url} Announcement |
                %a{:href=>"/documentation/#{site.releases.first.version}/"} Documentation
  #middle-row
    %a{:href=>'/features'}
      %img#stack{:src=>"/images/stack.png"}
    .more_feature_info
      %a{:href=>'/features'}
        Read more about the TorqueBox stack!
    
  #bottom-row
    .left-column
      #latest-news
        %h1 Latest News &amp; Articles
        - for post in site.posts[0,4] do
          .item
            %h2 
              %a{:href=>post.url}= post.title
            %h3 #{post.date.strftime( '%d %B %Y' )}
            .body
              #{summarize( html_to_text( post.content ), 50 )}...
            .tail
              %a{:href=>post.url} Read more
        #even-more
          %a{:href=>'/news'}Even more news!
    .right-column
      #upcoming-talks
        - talks = site.talks.values.sort{|l,r| l.effective_date <=> r.effective_date}
        %h1 Upcoming Talks
        - for talk in talks
          .item{:effective_date=>talk.effective_date}
            .event_details
              .event_date
                #{talk.event_date}
              .event_location
                #{talk.location}
            %h2
              %a{:href=>talk.event_url}
                = talk.event
            - if ( talk.event_logo_url )
              %a{:href=>talk.event_url}
                %img.event_logo{:src=>talk.event_logo_url}
            %h3
              = talk.title
            .details
              #{talk.presentor} will present at #{talk.event} in #{talk.location}.
            .links
              %a{:href=>talk.event_url}
                #{talk.event} Site

:javascript
  $(document).ready( function() {
    $('#upcoming-talks .item').each( function() {
      effective_date = $(this).attr( 'effective_date' );
      today = new Date();
      month = today.getMonth()+1;
      if ( month < 10 ) {
        month = '0' + month;
      }
      date = today.getDate();
      if ( date < 10 ) {
        date = '0' + date;
      }
      today_str = '' + today.getFullYear() + month + date;
      if ( today_str > effective_date ) {
        $(this).hide();  
      }
    } );
  } );
