---
title: Home
layout: default
inhibit_title: true
---

#front-page
  #top-row
    .left-column
      %img#knob{:src=>"/images/knob.png"}
      #blurb 
        %p
          TorqueBox is a new kind of Ruby application platform that integrates popular 
          technologies such as Ruby-on-Rails, while extending the footprint of Ruby 
          applications to include built-in support for services such as messaging,
          scheduling, and daemons.
      
        %p
          TorqueBox provides an all-in-one environment, built upon the latest, most 
          powerful JBoss AS Java application server. Functionality such as clustering,
          load-balancing and high-availability is included right out-of-the-box. 
    .right-column
      #latest-release
        - announcement = site.posts.find{|e| e.layout=='release' && e.version == site.releases.first.version}
        .download
          %a#download-link{:href=>site.releases.first.urls.dist_zip} 
            Download #{site.releases.first.version}
          %table.details
            - if ( announcement )
              %tr.release_date
                %th
                  Release Date
                %td
                  #{announcement.date.strftime( '%d %B %Y' )}
            %tr.size
              %th
                Size
              %td
                ZIP archive, #{site.releases.first.size}mb
            %tr.links
              %td{:colspan=>2}
                - if announcement
                  %a{:href=>announcement.url} Announcement |
                %a{:href=>"/documentation/#{site.releases.first.version}/"} Documentation
  #middle-row
    %img#stack{:src=>"/images/stack.png"}
  #bottom-row
    #latest-news
      %h1 Latest News
      %h2 
        %a{:href=>site.posts.first.url}= site.posts.first.title
      %h3 #{site.posts.first.date.strftime( '%d %B %Y' )}
      .body
        #{summarize( html_to_text( site.posts.first.content ), 30 )}...
      .tail
        %a{:href=>site.posts.first.url} Read more
