---
title: Home
layout: default
inhibit_title: true
---

#front-page
  #left-column
    :markdown
      TorqueBox is a new kind of Ruby application platform that integrates popular 
      technologies such as Ruby-on-Rails, while extending the footprint of Ruby 
      applications to include support for Job Scheduling, Task Queues, SOAP Handling, 
      and Telephony.
    
      TorqueBox provides an all-in-one environment, built upon the latest, most 
      powerful JBoss AS Java application server. Functionality such as clustering and 
      cloud deployment is included right out-of-the-box. 
    
      <div style="text-align: center">
        <img src="/images/components.png"/>
      </div>
  #right-column
    #latest-release
      - announcement = site.posts.find{|e| e.layout=='release' && e.version == site.releases.first.version}
      %h1 Latest: #{site.releases.first.version}
      - if ( announcement )
        %h2 Released #{announcement.date.strftime( '%d %B %Y' )}
      .download
        %a#download-link{:href=>"http://repository.torquebox.org/maven2/releases/org/torquebox/torquebox-bin/#{site.releases.first.version}/torquebox-bin-#{site.releases.first.version}.zip"} Download Now!
        .details
          .size
            ZIP archive, #{site.releases.first.size}mb
          .links
            - if announcement
              %a{:href=>announcement.url} Release announcement 
              |
            %a{:href=>"/documentation/#{site.releases.first.version}/"} Documentation
    #latest-news
      %h1 Latest News
      %h2 
        %a{:href=>site.posts.first.url}= site.posts.first.title
      %h3 #{site.posts.first.date.strftime( '%d %B %Y' )}
      .body
        #{summarize( html_to_text( site.posts.first.content ), 30 )}...
      .tail
        %a{:href=>site.posts.first.url} Read more
