
#header-quick-links
  .title
    Download

  %table.downloads
    %tr.stable
      - release = release_for_version('2.3.2')
      %th
        #{release.version}
      %td
        #{release.dist_size}mb
      %td
        %a{:href=>release.urls.dist_zip} 
          ZIP
        |
        %a{:href=>release.urls.docs.pdf}
          PDF
        |
        %a{:href=>"/documentation/#{release.version}"}
          HTML
    %tr.beta
      - release = site.releases.first
      %th
        #{release.version}
      %td
        #{release.dist_size}mb
      %td
        %a{:href=>release.urls.dist_zip} 
          ZIP
        |
        %a{:href=>release.urls.docs.pdf}
          PDF
        |
        %a{:href=>"/documentation/#{release.version}"}
          HTML
    %tr.incremental
      %th
        %a{:href=>'/builds'}
          Incremental
      %td
        &nbsp;
      %td
        %a{:href=>'/builds/torquebox-dist-bin.zip'}
          ZIP
        |
        %a{:href=>'/builds/torquebox-docs.pdf'}
          PDF
        |
        %a{:href=>'/builds/html-docs/'}
          HTML


