---
title: TorqueBox Screencasts
layout: default
---
#right-sidebar
  #main-column.podcasts
    - for episode in page.podcasts
      .post
        %h1.title
          %a{:href=>episode.url}= episode.title
        .byline
          .author
            = episode.author
          .date
            #{episode.date.strftime( '%d %B %Y' )}
          .duration
            Duration:
            = episode.duration
          .tags
            - episode.tags.each do |tag|
              %a{:href=>tag.primary_page.url}
                = tag
        .body
          .summary
            ~ episode.content
          .button
            %a{:href=>episode.url} Watch Now!
          
        .tail
          = episode.intense_debate_comments_link
    = page.podcasts.links
  #sidebar-column
    .tag-cloud
      = site.podcasts_tag_cloud
