---
layout: default
---

#right-sidebar
  #main-column
    .post
      .byline
        .author
          = page.author
        .date
          = page.date.strftime( '%d %B %Y' )
      .body
        ~ content
      .comments
        = intense_debate_comments
  #sidebar-column
    .post-navigation
      .previous
        - if page.previous
          .label
            previous
          %a{:href=>page.previous.url}= page.previous.title
      .next
        - if page.next
          .label
            next
          %a{:href=>page.next.url}= page.next.title
