---
layout: default
change_frequency: yearly
---

#right-sidebar
  #main-column
    .post
      .byline
        .author
          = page.author
        .date
          = page.date.strftime('%d %b %Y')
        .tags
          - page.tags.each do |tag|
            %a{:href=>tag.primary_page.url}
              = tag
        .duration
          Duration:
          = page.duration
      .body
        .summary
          ~ content
        .enclosure.leanback-player-video
          %video{:width=>"640", :height=>"360", :preload=>"auto", :controls=>'true'}
            %source{:src=>"#{page.enclosure_url}", :type=>'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
      .comments
        = page.intense_debate_comments
  #sidebar-column
    .post-navigation
      .previous
        - if page.previous_podcast
          .label
            previous
          %a{:href => page.previous_podcast.url}= page.previous_podcast.title
      .next
        - if page.next_podcast
          .label
            next
          %a{:href => page.next_podcast.url}= page.next_podcast.title
