---
layout: default
change_frequency: yearly
---

#right-sidebar
  #main-column
    .post
      .body
        .summary
          ~ content
        .enclosure.leanback-player-video
          %video{:width=>"550", :height=>"320", :autoplay=>'true', :preload=>"auto", :controls=>'true', :poster=>page.itunes_image}
            %source{:src=>"#{page.enclosure_url}", :type=>'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
            .leanback-player-html-fallback
              %img{:src=>page.itunes_image, :width=>"550", :height=>"320", :alt=>"TorqueBox Knob", :title=>"No HTML5 media playback capabilities available."}
              .downloads
                %strong Download Video:
                %a{:href=>page.enclosure_url}= page.title
      .byline
        .author
          = page.author
        .date
          = page.date.strftime('%d %b %Y')
        .tags
          - page.tags.each do |tag|
            %a{:href=>tag.primary_page.url}
              = tag
        .duration
          Duration:
          = page.duration
      .comments
        = page.intense_debate_comments
  #sidebar-column
    .post-navigation
      .previous
        - if page.previous_podcast
          .label
            previous
          %a{:href => page.previous_podcast.url}= page.previous_podcast.title
      .next
        - if page.next_podcast
          .label
            next
          %a{:href => page.next_podcast.url}= page.next_podcast.title
