---
layout: default
---

#right-sidebar
  #main-column
    .post
      .byline
        .author
          = page.author
        .date
          = page.date.strftime( '%d %B %Y' )
      .body
        ~ content
      .comments
        = intense_debate_comments
  
  #sidebar-column
    .post-navigation
      .previous
        - if page.previous_post
          .label
            previous
          %a{:href=>page.previous_post.url}= page.previous_post.title
      .next
        - if page.next_post
          .label
            next
          %a{:href=>page.next_post.url}= page.next_post.title
    .box
      %h1
        Release: #{page.version}
      %ul
        %li
          %a{:href=>"http://repository.torquebox.org/maven2/releases/org/torquebox/torquebox-bin/#{page.version}/torquebox-bin-#{page.version}.zip"} Download #{page.version} binary
        %li
          %a{:href=>"/documentation/#{page.version}/"} Browse docs for #{page.version}
        %li
          %a{:href=>"http://github.com/torquebox/torquebox/tree/#{page.version}"} Browse sources for #{page.version}
