---
layout: default
---

- release = release_for_version( page.version )

#right-sidebar
  #main-column
    .post
      .byline
        .author
          = page.author
        .date
          = page.date.strftime( '%d %B %Y' )
        .tags
          - page.tags.each do |tag|
            %a{:href=>tag.primary_page.url}
              = tag
      .body
        ~ content
      .comments
        = page.intense_debate_comments
  
  #sidebar-column
    .post-navigation
      .previous
        - if page.previous_post
          .label
            previous
          %a{:href=>page.previous_post.url}= page.previous_post.title
      .next
        - if page.next_post
          .label
            next
          %a{:href=>page.next_post.url}= page.next_post.title
    .box
      %h1
        Release: #{release.version}
      %ul
        %li
          %a{:href=>release.urls.dist_zip} Download #{release.version} binary
        %li
          %a{:href=>release.urls.docs.browse} Browse docs for #{release.version}
        %li
          %a{:href=>release.urls.github.tree} Browse sources for #{release.version}
