---
layout: default
title: Download
change_frequency: monthly
priority: 1
---

#two-column
  #left-column
    :markdown
      # Binary Distribution
    
      The latest binary distribution is #{site.releases.first.version}
      
      * [Download torquebox-#{site.releases.first.version}](#{site.releases.first.urls.dist_zip})

      # Incremental Builds

      Unstable incremental builds for [1.x](/1x/builds/) and [2.x](/2x/builds/) are produced regularly from our 
      [continuous integration server](/development#ci). The 2.x builds are currently *much* closer in functionality
      than the 1.x builds to the latest official release (#{site.releases.first.version}).
      
    
      A developer build has no guarantee of actually working.  *At all.*  But it probably will.  Feel free to try it.

      * [Download the latest 1.x incremental build](/builds/LATEST/torquebox-dist-bin.zip)
      * [Download the latest 2.x incremental build](/2x/builds/torquebox-dist-bin.zip)
     

  #right-column
    :markdown
      # Documentation
  
      You may [browse the documentation online](#{site.releases.first.urls.docs.browse})
  
      Downloadable documentation is available in several forms:
  
      * [PDF Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.pdf})
      * [Multi-page HTML Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.html_multi_zip})

      You may also obtain a pdf containing the latest, un-released documentation that coincides with our developer build.

      * [Download the latest documentation](http://torquebox.org/torquebox-doc.pdf)

#download-table
  %table.downloads
    %tr
      %th
        Version
      %th
        Binary Distribution
      %th
        Documentation
      %th
        Changelog
      %th
        Git Tree
    - for release in site.releases
      %tr
        %td
          .version
            = release.version
          - announcement = site.posts.find{|e| e.layout=='release' && e.version == release.version}
          - if announcement
            .announcement
              %a{:href=>announcement.url} Release announcement
            .release-date
              = announcement.date.strftime( '%d %B %Y' )
        %td
          - rel = release.latest? ? 'download' : 'nofollow'
          %a{:href=>release.urls.dist_zip, :rel=>rel}
            ZIP archive (#{release.dist_size}mb)
        %td
          - rel = release.latest? ? 'documentation' : 'nofollow'
          %ul
            %li
              %a{:href=>release.urls.docs.browse, :rel=>rel} Browse
            %li
              %a{:href=>release.urls.docs.html_multi_zip, :rel=>rel} Multi-page HTML ZIP
            - unless ( release.urls.docs.html_single_zip.empty? )
              %li
                %a{:href=>release.urls.docs.html_single_zip, :rel=>rel} Single-page HTML ZIP
            %li
              %a{:href=>release.urls.docs.pdf, :rel=>rel} PDF 
            - unless ( release.urls.docs.epub.empty? )
              %li
                %a{:href=>release.urls.docs.epub, :rel=>rel} ePub
        %td
          %ul
            %li
              %a{:href=>release.urls.jira} JIRA Issues
            %li
              %a{:href=>release.urls.github.log} Git Log
        %td
          %a{:href=>release.urls.github.tree} Browse


