---
layout: default
title: Download
change_frequency: monthly
priority: 1
---

#two-column
  #left-column
    :markdown
      # Binary Distribution
    
      The latest binary distribution is #{site.releases.first.version}
      
      * [Download torquebox-#{site.releases.first.version}](#{site.releases.first.urls.dist_zip})

      # Incremental Builds

      Unstable [incremental builds](/builds/) are produced regularly from our 
      [continuous integration server](/development#ci). 
      
      A developer build has no guarantee of actually working.  *At all.*  But it probably will.  Feel free to try it.

      * [Download the latest incremental build](/builds/torquebox-dist-bin.zip)
     

  #right-column
    :markdown
      # Documentation
  
      You may browse the documentation online:
      
      * [Getting Started Guide for #{site.releases.first.version}](#{site.releases.first.urls.getting_started.browse})
      * [Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.browse})
      * [JavaDocs for #{site.releases.first.version}](#{site.releases.first.urls.docs.javadocs})
      * [Gem RDocs for #{site.releases.first.version}](#{site.releases.first.urls.docs.yardocs})

      The manual is available for download in several forms:
  
      * [PDF Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.pdf})
      * [Multi-page HTML Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.html_multi_zip})
      * [ePub Manual for #{site.releases.first.version}](#{site.releases.first.urls.docs.epub})

      You may also obtain a pdf containing the latest, un-released manual that coincides with our developer build.

      * [Download the latest incremental manual](/builds/torquebox-docs.pdf)

#download-table
  %table.downloads
    %tr
      %th
        Version
      %th
        Binary Distribution
      %th
        Documentation
      %th
        Changelog
      %th
        Git Tree
    - for release in site.releases
      - if release.published?
        %tr
          %td
            .version
              = release.version
            - announcement = site.posts.find{|e| e.layout=='release' && e.version == release.version}
            - if announcement
              .announcement
                %a{:href=>announcement.url} Release announcement
              .release-date
                = announcement.date.strftime( '%d %B %Y' )
          %td
            - rel = release.latest? ? 'download' : 'nofollow'
            %a{:href=>release.urls.dist_zip, :rel=>rel}
              ZIP archive (#{release.dist_size}mb)
          %td
            - rel = release.latest? ? 'documentation' : 'nofollow'
            %ul
              %li
                - if release.urls.docs.javadocs.empty?
                  %a{:href=>release.urls.docs.browse, :rel=>rel} Browse Manual
                - else
                  Browse:
                  %ul
                    - unless release.urls.getting_started.browse.empty?
                      %li
                        %a{:href=>release.urls.getting_started.browse, :rel=>rel} Getting Started Guide
                    %li
                      %a{:href=>release.urls.docs.browse, :rel=>rel} Manual
                    %li
                      %a{:href=>release.urls.docs.javadocs, :rel=>rel} JavaDocs
                    %li
                      %a{:href=>release.urls.docs.yardocs, :rel=>rel} Gem RDocs

              %li
                %a{:href=>release.urls.docs.html_multi_zip, :rel=>rel} Multi-page HTML Manual (ZIP)
              - unless ( release.urls.docs.html_single_zip.empty? )
                %li
                  %a{:href=>release.urls.docs.html_single_zip, :rel=>rel} Single-page HTML Manual (ZIP)
              %li
                %a{:href=>release.urls.docs.pdf, :rel=>rel} Manual (PDF)
              - unless ( release.urls.docs.epub.empty? )
                %li
                  %a{:href=>release.urls.docs.epub, :rel=>rel} Manual (ePub)
          %td
            %ul
              %li
                %a{:href=>release.urls.jira} JIRA Issues
              %li
                %a{:href=>release.urls.github.log} Git Log
          %td
            %a{:href=>release.urls.github.tree} Browse


